body{background:#F6F6F6}
input[type=text]{
	width: 80%;
    padding: 12px 10px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:#FAF9F9;
}
input[type=password]{
	width: 80%;
    padding: 12px 10px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:#FAF9F9;
}
input[type=submit]{
	width: 80%;
    padding: 8px 10px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:#8EBAFB;
    color:#fff;
}
div{
	background:#fff;
}
#logo:link{
	color: black; text-decoration: none;
}
#logo:visited{
	color: black; text-decoration: none;
}
#logo:hover{
	color: black; text-decoration: none;
}
#logo:active{
	color: black; text-decoration: none;
}

#word a:link{
	color: #5F9BF7; text-decoration: none;
}
#word a:visited{
	color: #5F9BF7; text-decoration: none;
}
#word a:hover{
	color: #5F9BF7; text-decoration: none;
}
#word a:active{
	color: #5F9BF7; text-decoration: none;
}
a:link{
	text-decoration: none; color:black;
}
a:visited{
	 text-decoration: none;color:black;
}
a:hover{
	text-decoration: none;color:black;
}
a:active{
	text-decoration: none;color:black;
}